#agreements .container {
  width: 10rem;
  margin: 0 auto;
  background: #eee;
  position: relative;
  text-align: justify;
  /*word-break: break-all;*/
}

#agreements .container .copyright {
  text-align: right;
  padding-right: 1.5em;
  padding-bottom: 3em;
  font-weight: bold;
}

#agreements .container h1 {
  text-align: center;
  padding-top: 2em;
  font-size: 1.5em;
}

#agreements .container p {
  padding: 1em;
  line-height: 1.4;
  text-indent: 2em;
  font-size: 1.1em;
}

#agreements .container dl {
  margin: 1.5em;
}

#agreements .container dl dt {
  font-size: 1.2em;
}

#agreements .container dl dd {
  line-height: 1.4;
  margin: .6em 0;
  /*text-indent: 2em;*/
  font-size: 1.1em;
}

#agreements .container dl dd ul {
  /*text-indent: 1.3em;*/
  margin-top: 0.1em;
}
