.open-in-browser {
  position: fixed;
  z-index: 2000;
  min-width: 320px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.open-in-browser .contain {
  max-width: 640px;
  min-width: 320px;
  width: 100%;
  height: 100%;
  text-align: left;
  color: #fff;
  font-size: 1.25rem;
  padding-left: 3.75rem;
  font-weight: bold;
  position: relative;
}

.open-in-browser .contain .p1 {
  padding-top: 4.375rem;
}

.open-in-browser .contain .p1 span {
  display: inline-block;
  vertical-align: middle;
}

.open-in-browser .contain .p1 i {
  display: inline-block;
  vertical-align: middle;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  top: 5px;
  margin: 0 2px;
}

.open-in-browser .contain .p2 {
  padding-top: 1.5625rem;
}

.open-in-browser .contain .p2 span {
  vertical-align: middle;
  display: inline-block;
}

.open-in-browser .contain .p2 img {
  vertical-align: middle;
  display: inline-block;
  margin: 0 4px;
  width: 3.125rem;
  height: auto;
}

.open-in-browser .contain .p3 {
  padding-top: 1.5625rem;
  text-align: left;
}

.open-in-browser .contain .arrow-up {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.875rem;
}

.open-in-browser .contain .arrow-up img {
  width: 2.5rem;
  height: auto;
}

.open-in-browser .contain .close-cont {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 5rem;
}

.open-in-browser .contain .close-cont .close-btn {
  border: 0;
  padding: 1.25rem;
}

.open-in-browser .contain .close-cont .close-btn img {
  width: 2.5rem;
  height: auto;
}

.open-in-browser .contain .close-cont .close-btn:active {
  opacity: 0.5;
}
