.app-back {
  border: 0;
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  padding-right: 0.25rem;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0.625rem;
  left: 0.625rem;
  z-index: 1000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.app-back .icon {
  display: block;
  background-image: url("../img/sprite.png");
  background-position: 0px -94px;
  width: 18px;
  height: 18px;
  background-size: 166px 162px;
}

.app-back:active {
  opacity: 0.5;
}
