body {
  background-color: #fff !important;
}

#container {
  max-width: 640px;
  min-width: 320px;
  margin: 0 auto;
  padding-bottom: 4.725rem;
}

.art_tit {
  font-size: 1.37375rem;
  color: #2B333B;
  text-align: center;
  padding: 1.8725rem 0.875rem;
  line-height: 1.4;
}

.sub_art_tit {
  font-size: 0.875rem;
  padding: 0 0.875rem;
  padding-bottom: 1.93375rem;
  line-height: 1;
  text-align: center;
  color: #BFBFBF;
}

.tpl_container {
  padding: 0 0.875rem;
}

.tpl_container iframe {
  width: 100%;
}

.tpl_container img {
  max-width: 100% !important;
}

.reward {
  text-align: center;
  padding-top: 2.1rem;
}

.reward button {
  width: 3.12375rem;
  height: 3.12375rem;
  line-height: 3.12375rem;
  text-align: center;
  background-color: #FB4747;
  color: #fff;
  font-size: 1.75rem;
  border-radius: 50%;
  border: 0;
  display: inline-block;
}

.reward p {
  color: #2B333B;
  font-size: 0.9975rem;
  margin-top: 0.525rem;
}

.reward_list {
  margin-top: 0.525rem;
}

.reward_list p {
  text-align: center;
  color: #848689;
  font-size: 0.875rem;
}

.reward_list ul {
  width: 13.125rem;
  margin: 0 auto;
  position: relative;
  left: 0.28rem;
}

.reward_list ul:after {
  content: "";
  display: block;
  height: 0;
  font-size: 0;
  overflow: hidden;
  line-height: 0;
  clear: both;
}

.reward_list ul li {
  float: left;
  width: 1.6275rem;
  height: 1.6275rem;
  background-color: #ddd;
  margin-right: 0.56rem;
  margin-top: 0.56rem;
}

.reward_list ul li img {
  width: 100%;
  height: 100%;
}

.praise {
  margin-top: 1.88125rem;
}

.praise .btn_box {
  text-align: center;
}

.praise .btn_box button {
  min-width: 7rem;
  height: 2.24875rem;
  padding: 0 0.875rem;
  background-color: #FB4747;
  border-radius: 1.12437rem;
  border: 0;
  color: #fff;
}

.praise .btn_box button .icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
  line-height: 1;
  background-image: url("../img/sprite.png");
  background-position: -6rem 0rem;
  width: 1.25rem;
  height: 1.25rem;
  background-size: 10.375rem 10.125rem;
}

.praise .btn_box button span {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-size: 0.9625rem;
}

.praise .btn_box button.active {
  background-image: url("../img/sprite.png");
  background-position: -3.90625rem -3.875rem;
  width: 1.25rem;
  height: 1.25rem;
  background-size: 10.375rem 10.125rem;
}

.praise .praise_list {
  background-color: #F8F8F8;
  padding: 0.7525rem 1.12875rem;
  margin-top: 1.8725rem;
}

.praise .praise_list p {
  font-size: 0.875rem;
  color: #677BAF;
  line-height: 1.5;
}

.praise .praise_list button {
  display: inline-block;
  width: 100%;
  margin-top: 0.4375rem;
  border: 0;
  background-color: transparent;
  padding-bottom: 0.4375rem;
}

.praise .praise_list button .icon-more {
  display: block;
  margin: 0 auto;
  background-image: url("../img/sprite.png");
  background-position: -7.875rem -6.5rem;
  width: 0.625rem;
  height: 0.4375rem;
  background-size: 10.375rem 10.125rem;
}

.comment .comment_tit {
  padding: 1.21625rem;
  text-align: center;
  font-size: 0.9975rem;
  color: #2b333b;
}

.comment .comment_list {
  padding: 0 0.7875rem;
}

.comment .comment_list .comment_list_item {
  border-bottom: 1px solid #BFBFBF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 1.1375rem;
}

.comment .comment_list .comment_list_item:last-child {
  border-bottom: 0;
}

.comment .comment_list .comment_list_item .l {
  width: 1.6275rem;
  height: 1.6275rem;
  border-radius: 50%;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  overflow: hidden;
}

.comment .comment_list .comment_list_item .l img {
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
}

.comment .comment_list .comment_list_item .r {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 0.69125rem;
  padding-bottom: 1.4rem;
}

.comment .comment_list .comment_list_item .r .row1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.comment .comment_list .comment_list_item .r .row1 .name {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 0.875rem;
  color: #2b333b;
}

.comment .comment_list .comment_list_item .r .row1 .name_r {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.comment .comment_list .comment_list_item .r .row1 .name_r span {
  font-size: 0.875rem;
  color: #848689;
  display: inline-block;
  vertical-align: baseline;
  line-height: 1;
}

.comment .comment_list .comment_list_item .r .row1 .name_r .icon {
  display: inline-block;
  vertical-align: baseline;
  background-image: url("../img/sprite.png");
  background-position: -9.5rem -7.5rem;
  width: 0.875rem;
  height: 0.875rem;
  background-size: 10.375rem 10.125rem;
  border: 0;
  box-sizing: content-box;
  background-color: transparent;
}

.comment .comment_list .comment_list_item .r .row2 {
  color: #686868;
  font-size: 0.7525rem;
  line-height: 1.5;
}

.comment .comment_list .comment_list_item .r .row3 {
  color: #2B333B;
  margin-top: 0.49875rem;
  font-size: 0.9975rem;
  line-height: 1.4;
}

.comment .comment_list .comment_list_item .r .row4 {
  margin-top: 0.62125rem;
  background: #F2F2F2;
  padding: 0.4375rem;
}

.comment .comment_list .comment_list_item .r .row4 li {
  padding-bottom: 0.875rem;
}

.comment .comment_list .comment_list_item .r .row4 li .reply_name {
  color: #848689;
  font-size: 0.875rem;
  line-height: 1.5;
}

.comment .comment_list .comment_list_item .r .row4 li .reply_cont {
  color: #2B333B;
  line-height: 1.3;
  font-size: 0.875rem;
}

.comment .look_more {
  padding-bottom: 0.7525rem;
  font-size: 0.875rem;
  text-align: center;
}

.comment .look_more button {
  color: #129AEE;
  border: 0;
  background: transparent;
}

.comment .write_comment {
  background: #F2F2F2;
  border: 1px solid #BFBFBF;
  padding: 1.68875rem;
  text-align: center;
  margin: 0 0.875rem;
  margin-top: 0.875rem;
  border-radius: 6px;
}

.comment .write_comment button {
  background: #129AEE;
  border-radius: 2px;
  width: 6.2475rem;
  height: 2.24875rem;
  border: 0;
  color: #fff;
  font-size: 0.875rem;
}

.fixed_btn {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  min-width: 320px;
}

.fixed_btn .fixed_btn_inner {
  max-width: 640px;
  margin: 0 auto;
  background-color: #71B1FF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 3.12375rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0.875rem;
}

.fixed_btn .fixed_btn_inner .pic_box {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 4.99625rem;
  height: 100%;
  position: relative;
}

.fixed_btn .fixed_btn_inner .pic_box .pic_cont {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 2px;
}

.fixed_btn .fixed_btn_inner .pic_box .pic_cont img {
  width: 100%;
  height: auto;
}

.fixed_btn .fixed_btn_inner .desc {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #fff;
  font-size: 0.9975rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fixed_btn .fixed_btn_inner .btn_box {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.fixed_btn .fixed_btn_inner .btn_box button {
  width: 3.99875rem;
  height: 1.8725rem;
  color: #fff;
  font-size: 0.9975rem;
  border-radius: 2px;
  border: 1px solid #fff;
  background-color: transparent;
}
