.warpper {
  max-width: 640px;
  min-width: 320px;
  margin: 0 auto;
}

.warpper .poster {
  width: 100%;
  background-color: #ddd;
  height: 11.25em;
  overflow: hidden;
}

.warpper .poster img {
  width: 100%;
  height: auto;
}

.warpper .padd-cont {
  padding: 0 0.625em;
}

.warpper .padd-cont .title {
  padding-top: 1.25em;
  font-size: 1.25em;
  color: #2B333B;
}

.warpper .padd-cont .tip {
  position: relative;
  z-index: 10;
}

.warpper .padd-cont .tip .over {
  position: absolute;
  top: 0;
  right: 5px;
  width: 4.375em;
  height: 4.375em;
  overflow: hidden;
}

.warpper .padd-cont .tip .over img {
  max-width: 100%;
  height: auto;
}

.warpper .padd-cont .tip .p1 {
  padding: 0.625em 0;
}

.warpper .padd-cont .tip .p1 .icon {
  display: inline-block;
  vertical-align: middle;
  background-image: url("../img/sprite.png");
  background-position: -152px -72px;
  width: 14px;
  height: 14px;
  background-size: 166px 162px;
}

.warpper .padd-cont .tip .p1 .time {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.875em;
  color: #686868;
}

.warpper .padd-cont .tip .p1 .status {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.875em;
  color: #FB4747;
}

.warpper .padd-cont .tip .p2 {
  height: 2.5em;
  background: #FDF8E3;
  border: 1px solid #DACCAF;
  border-radius: 0.25em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0.625em;
}

.warpper .padd-cont .tip .p2 .icon {
  margin-right: 0.5em;
  background-image: url("../img/sprite.png");
  background-position: 0px -62px;
  width: 22px;
  height: 22px;
  background-size: 166px 162px;
}

.warpper .padd-cont .tip .p2 .status {
  font-size: 0.875em;
  color: #8D5A5A;
  position: relative;
  top: 1px;
}

.warpper .padd-cont .contact {
  border: 1px solid #dfdfdf;
  margin-top: 1.25em;
  text-align: center;
  font-size: 1rem;
  padding: 0.9rem 0;
  color: #2b333b;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.warpper .padd-cont .contact p {
  line-height: 1.5;
  font-size: 0.9375em;
  margin-top: 4px;
  padding: 0 4px;
}

.warpper .padd-cont .theme {
  border: 1px solid #dfdfdf;
  margin-top: 1.25em;
  text-align: center;
  font-size: 1rem;
  padding: 0.9rem 0;
  color: #2b333b;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.warpper .padd-cont .theme h3 {
  font-size: 1em;
}

.warpper .padd-cont .theme p {
  line-height: 1.5;
  font-size: 0.9375em;
  padding: 0.625em;
  text-align: left;
}

.warpper .padd-cont .reward {
  margin-top: 0.9375em;
}

.warpper .padd-cont .reward .reward-pic {
  border-radius: 0.1875em 0.1875em 0 0;
  overflow: hidden;
  width: 100%;
  height: auto;
}

.warpper .padd-cont .reward .reward-pic img {
  width: 100%;
  height: auto;
  display: block;
}

.warpper .padd-cont .reward .reward-list {
  padding: 0.625em;
  border: 1px solid #dfdfdf;
  border-top: 0;
  border-radius: 0 0 0.1875em 0.1875em;
}

.warpper .padd-cont .reward .reward-list li {
  padding-bottom: 0.9375em;
  text-align: center;
  color: #2b333b;
}

.warpper .padd-cont .reward .reward-list li h3 {
  line-height: 1.5;
  font-size: 0.9375em;
}

.warpper .padd-cont .reward .reward-list li p {
  line-height: 1.5;
  font-size: 0.9375em;
}

.warpper .padd-cont .table-cont {
  margin-top: 0.9375em;
}

.warpper .padd-cont .table-cont table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  color: #444;
  font-size: 0.875em;
}

.warpper .padd-cont .table-cont table tr {
  border: 0;
}

.warpper .padd-cont .table-cont table tr th {
  background: #BDDBFF;
  padding: 0.5em;
  border: 1px solid #ccc;
  font-weight: normal;
}

.warpper .padd-cont .table-cont table tr td {
  background: #fff;
  padding: 0.5em;
  border: 1px solid #ccc;
}

.look-detail-btn {
  margin-top: 1.25em;
}

.look-detail-btn .link {
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #129AEE;
  border-radius: 0.1875em;
  width: 100%;
  height: 2.5em;
  color: #fff;
  text-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.look-detail-btn .link .icon {
  margin-right: 5px;
  display: block;
  background-image: url("../img/sprite.png");
  background-position: -152px -96px;
  width: 14px;
  height: 14px;
  background-size: 166px 162px;
}

.look-detail-btn .link:active {
  opacity: 0.8;
}

.sign-up-btn {
  margin-top: 0.9375em;
}

.sign-up-btn .link {
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #fd9e24;
  border-radius: 0.1875em;
  width: 100%;
  height: 2.5em;
  color: #fff;
  text-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.sign-up-btn .link:active {
  opacity: 0.8;
}

.search-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.9375em;
}

.search-btn .ipt {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 0.625em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0.625em;
  height: 2.5em;
  border: 1px solid #dfdfdf;
  border-radius: 0.1875em;
}

.search-btn .ipt .icon {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  margin-right: 0.375em;
  background-image: url("../img/sprite.png");
  background-position: -96px -30px;
  width: 20px;
  height: 20px;
  background-size: 166px 162px;
}

.search-btn .ipt input {
  width: 100%;
  border: 0;
}

.search-btn .btn {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.search-btn .btn button {
  color: #fff;
  width: 5em;
  height: 2.5em;
  background: #FB4747;
  border: 0;
  border-radius: 0.1875em;
}

.search-btn .btn button:active {
  opacity: 0.8;
}

.player-list {
  margin-top: 1.25em;
}

.player-list:after {
  content: "";
  display: block;
  height: 0;
  font-size: 0;
  overflow: hidden;
  line-height: 0;
  clear: both;
}

.player-list li {
  float: left;
  width: 50%;
  margin-bottom: 0.625em;
}

.player-list li:nth-child(odd) {
  padding-right: 0.3125em;
}

.player-list li:nth-child(even) {
  padding-left: 0.3125em;
}

.player-list li .inner {
  width: 100%;
  border: 1px solid #dfdfdf;
  border-radius: 0.1875em;
  padding: 0.5em;
}

.player-list li .inner .pic {
  height: 12.5em;
  width: 100%;
  overflow: hidden;
  border-radius: 0.125em;
  background-color: #eee;
  display: block;
}

.player-list li .inner .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.player-list li .inner .p1 {
  font-size: 0.875em;
  color: #686868;
  margin-top: 0.625em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.player-list li .inner .p1 span:first-child {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.player-list li .inner .p1 span:last-child {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  word-break: keep-all;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.player-list li .inner .p2 {
  font-size: 0.875em;
  color: #686868;
  line-height: 1.25em;
  margin-top: 0.1875em;
}

.player-list li .inner .p2 strong {
  background: #EBEBEB;
  padding: 0 5px;
  border-radius: 0.125em;
  font-weight: normal;
}

.player-list li .inner button {
  margin-top: 0.5em;
  height: 1.875em;
  text-align: center;
  color: #fff;
  border: 0;
  width: 100%;
  border-radius: 0.125em;
}

.player-list li .inner button.countdown {
  background-color: #FB4747;
  cursor: not-allowed;
}

.player-list li .inner button.tomorrow {
  background-color: #FB4747;
  cursor: not-allowed;
}

.player-list li .inner button.canvote {
  background-color: #129AEE;
}

.player-list li .inner button.canvote:active {
  opacity: 0.8;
}

.player-list li .inner button.disabled {
  background-color: #d7d7d7;
  cursor: not-allowed;
}

.load-more, .load-all, .list-loading {
  padding-top: 0.25em;
  padding-bottom: 0.9375em;
  text-align: center;
  color: #ccc;
}

.load-more {
  font-size: 0.9375em;
}

.load-all {
  font-size: 0.875em;
}

.list-loading {
  font-size: 0.9375em;
}

.base-info {
  padding: 0.8125em;
  padding-bottom: 1em;
  border-bottom: 1px dashed #BFBFBF;
  padding-top: 3.4375em;
}

.base-info .row1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.base-info .row1 .name {
  font-size: 30px;
  color: #2B333B;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.base-info .row1 .btn-box {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.base-info .row1 .btn-box button {
  height: 2.375em;
  width: 6.875em;
  border: 0;
  color: #fff;
  border-radius: 0.125em;
}

.base-info .row1 .btn-box button:disabled {
  background-color: #2b333b;
  cursor: not-allowed;
}

.base-info .row1 .btn-box button.notgive {
  background-color: #129AEE;
}

.base-info .row1 .btn-box button.notgive:active {
  opacity: 0.8;
}

.base-info .row1 .btn-box button.give {
  background-color: #FB4747;
  cursor: not-allowed;
}

.base-info .row2 {
  margin-top: 0.625em;
  line-height: 1;
  color: #2b333b;
}

.base-info .row2 strong {
  font-weight: normal;
  color: #FB4747;
}

.base-info .row3 {
  margin-top: 0.625em;
  color: #2b333b;
  line-height: 1;
}

.play-info .declaration {
  font-size: 1em;
  line-height: 1.5;
  color: #686868;
  padding: 1.25em 0.8125em;
}

.play-info .pic {
  margin-bottom: 0.625em;
}

.play-info .pic img {
  width: 100%;
  display: block;
}

.btn-group {
  padding: 1em 0.8125em;
}

.btn-group p {
  padding-bottom: 0.8125em;
}

.btn-group p button {
  width: 100%;
  height: 2.5em;
  color: #fff;
  font-size: 1.125em;
  border-radius: 0.1875em;
  border: 0;
}

.btn-group p button:disabled {
  background-color: #2b333b;
  cursor: not-allowed;
}

.btn-group p button.notgive {
  background-color: #129AEE;
}

.btn-group p button.notgive:active {
  opacity: 0.8;
}

.btn-group p button.give {
  background-color: #FB4747;
  cursor: not-allowed;
}

.btn-group p a {
  background: #FD9E24;
  width: 100%;
  display: block;
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;
  color: #fff;
  font-size: 1.125em;
  border-radius: 0.1875em;
  text-decoration: none;
  border: 0;
}

.btn-group p a:active {
  opacity: 0.8;
}

.rule-list {
  padding-bottom: 1.25em;
}

.rule-list li {
  border-bottom: 1px dashed #BFBFBF;
  padding-bottom: 1.25em;
}

.rule-list li:last-child {
  border-bottom: 0;
}

.rule-list li .tit {
  padding-top: 1.25em;
}

.rule-list li .tit .icon {
  display: inline-block;
  vertical-align: middle;
  background-image: url("../img/sprite.png");
  background-position: -126px -78px;
  width: 16px;
  height: 16px;
  background-size: 166px 162px;
}

.rule-list li .tit span {
  display: inline-block;
  vertical-align: middle;
  font-size: 1em;
  color: #2b333b;
}

.rule-list li .rule-cont {
  color: #686868;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.rule-list li .rule-cont p {
  padding-bottom: 0.125em;
  line-height: 1.5;
  font-size: 1em;
}

.signup-btn {
  margin: 0;
  padding: 0;
}

.signup-btn .notover, .signup-btn .over {
  height: 2.875rem;
  color: #fff;
  display: block;
  width: 100%;
  border: 0;
  font-size: 1.125em;
  margin: 0;
}

.signup-btn .notover {
  background: #129AEE;
}

.signup-btn .notover:active {
  opacity: 0.8;
}

.signup-btn .over {
  background: #686868;
}

#signup {
  max-width: 640px;
  min-width: 320px;
  margin: 0 auto;
}

#signup .poster {
  width: 100%;
  background-color: #ddd;
  height: 11.25em;
  overflow: hidden;
}

#signup .poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#signup .time {
  background: #fbfbfb;
  border-bottom: 1px dashed #ccc;
}

#signup .time p {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0.625em;
  font-size: 0.9375em;
  color: #666;
}

#signup .time p .icon {
  margin-right: 6px;
  background-image: url("../img/sprite.png");
  background-position: -152px -72px;
  width: 14px;
  height: 14px;
  background-size: 166px 162px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

#signup .time p span {
  line-height: 1;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#signup .time p:first-child {
  padding-top: 0.875em;
}

#signup .time p:last-child {
  padding-top: 0.625em;
  padding-bottom: 0.625em;
}

#signup .padd-cont {
  padding: 0 0.625em;
  padding-bottom: 1.25em;
}

#signup .padd-cont .form-group {
  margin-top: 20px;
}

#signup .padd-cont .form-group .form-label {
  color: #555;
  font-size: 1em;
}

#signup .padd-cont .form-group .pic-view-list {
  margin-top: 8px;
}

#signup .padd-cont .form-group .pic-view-list:after {
  content: "";
  display: block;
  height: 0;
  font-size: 0;
  overflow: hidden;
  line-height: 0;
  clear: both;
}

#signup .padd-cont .form-group .pic-view-list li {
  float: left;
  width: 33.33%;
  padding: 0 2px;
}

#signup .padd-cont .form-group .pic-view-list li .inner {
  width: 100%;
  padding-top: 100%;
  position: relative;
}

#signup .padd-cont .form-group .pic-view-list li .inner .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e6e6e6;
  overflow: hidden;
}

#signup .padd-cont .form-group .pic-view-list li .inner .content .delpic {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
}

#signup .padd-cont .form-group .pic-view-list li .inner .content .delpic .icon {
  display: block;
  background-image: url("../img/sprite.png");
  background-position: -62px 0px;
  width: 24px;
  height: 24px;
  background-size: 166px 162px;
}

#signup .padd-cont .form-group .pic-view-list li .inner .content .addpic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

#signup .padd-cont .form-group .pic-view-list li .inner .content .addpic p {
  font-size: 0.875em;
  text-align: center;
  color: #fff;
  margin-top: 0.5em;
  line-height: 1;
}

#signup .padd-cont .form-group .pic-view-list li .inner .content .addpic button {
  display: block;
  margin: 0 auto;
  border: 0;
  height: 3.125em;
  width: 4.375em;
  background: url(../img/add-pic.png) no-repeat center;
  background-size: cover;
  cursor: pointer;
}

#signup .padd-cont .form-group .pic-view-list li .inner .content .addpic button input {
  opacity: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#signup .padd-cont .form-group .pic-view-list li .inner .content .pic-view {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

#signup .padd-cont .form-group .pic-view-list li .inner .content .pic-view img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#signup .padd-cont .form-group .pic-view-list li:first-child {
  padding-right: 4px;
  padding-left: 0;
}

#signup .padd-cont .form-group .pic-view-list li:last-child {
  padding-right: 0;
  padding-left: 4px;
}

#signup .padd-cont .form-group .form-tip {
  font-size: 0.875em;
  line-height: 1;
  padding-top: 10px;
  color: rgba(255, 0, 0, 0.5);
}

#signup .padd-cont .form-group .form-ipt {
  margin-top: 8px;
}

#signup .padd-cont .form-group .form-ipt input {
  padding: 0.625em 0.375em;
  width: 100%;
  border: 1px solid #dfdfdf;
  border-radius: 0.125em;
}

#signup .padd-cont .form-group .form-ipt input:focus {
  border: 1px solid rgba(18, 154, 238, 0.6);
}

#signup .padd-cont .form-group .form-ipt input.has-error {
  border: 1px solid rgba(255, 0, 0, 0.5);
}

#signup .padd-cont .form-group .form-ipt textarea {
  width: 100%;
  display: block;
  border: 1px solid #dfdfdf;
  border-radius: 0.125em;
  padding: 0.25em 0.3125em;
  resize: vertical;
}

#signup .padd-cont .form-group .form-ipt textarea:focus {
  border: 1px solid rgba(18, 154, 238, 0.6);
}

#signup .padd-cont .form-group .form-btn {
  height: 2.5em;
  width: 100%;
  color: #fff;
  background: #129AEE;
  border-radius: 0.25em;
  font-size: 1.125em;
  border: 0;
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#signup .padd-cont .form-group .form-btn .icon-loading {
  display: none;
}

#signup .padd-cont .form-group .form-btn:active {
  opacity: 0.8;
}

#signup .padd-cont .form-group .form-btn.disabled {
  background-color: #d7d7d7;
  cursor: not-allowed;
}

#signup .padd-cont .form-group .form-btn.disabled:active {
  opacity: 1;
}

#signup .padd-cont .form-group .form-btn.isloading .icon-loading {
  display: inline-block;
  -webkit-animation: loading 500ms linear infinite;
          animation: loading 500ms linear infinite;
  background-image: url("../img/sprite.png");
  background-position: -32px -62px;
  width: 20.5px;
  height: 20.5px;
  background-size: 166px 162px;
  margin-right: 0.5em;
}

#signup .padd-cont .form-group .form-btn.isloading:active {
  opacity: 1;
}

#signup .padd-cont .form-group .form-btn.succeed {
  background-color: #FB4747;
}

@-webkit-keyframes loading {
  form {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loading {
  form {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
