<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
        <meta name="format-detection" content="telephone=no,email=no,adress=no"/>
        <title>2台</title>
        <link rel="stylesheet" type="text/css" href="./css/base.css"/>
        <link rel="stylesheet" type="text/css" href="./css/postdetail.circle.css"/>
        
    </head>
    <body ng-app="app" ng-controller="content">
        <div class="dropped" ng-if="delSuccInfo">
            {{delSuccInfo}}
        </div>
        <div class="page" ng-show="!delSuccInfo" ng-cloak>
            <div class="loading" ng-show="!post">
                <img ng-src="./img/loading.gif" alt="" />
            </div>
            <div class="page_contain" ng-show="post">
                <div class="sec_1">
                    <div class="post_head">
                        <div class="pic" ng-click="homepage(post.userId)">
                            <img ng-src="{{post.headIconUrl}}?x-oss-process=image/resize,m_fill,h_72,w_72" alt="" />
                        </div>
                        <div class="txt">
                            <div class="t">
                                <h3>{{post.nickName}}</h3>
                                <!-- <span>lv2</span> -->
                            </div>
                            <p class="b">
                                {{post.createDate | date:"yyyy-MM-dd hh:mm:ss"}}
                            </p>
                        </div>
                        <div class="btn_box" ng-show="post.isMe == 0">
                            <button ng-show="post.isFollow == 0" tap ng-click="follow()" class="unfollow" type="button">
                                <i class="icon"></i>
                                <span>关注</span>
                            </button>
                            <button ng-show="post.isFollow == 1" class="isfollow" type="button">
                                <span>已关注</span>
                            </button>
                        </div>
                        <!-- <div class="btn_box" ng-show="post.isMe == 1">
                            <button type="button" tap ng-click="del()" class="delbtn">
                                <i class="icon"></i>
                                <span>删除</span>
                            </button>
                        </div> -->
                    </div>
                    <!-- post_cont 此类用于原生筛选图片 -->
                    <div class="post_cont">
                        <!--  ng-bind-html="domStr" -->
                        <div class="cont">
                            <span ng-class="{'topic':!!item.type}" ng-if="item.value" ng-click="topic(item,worldId)" ng-repeat="item in domArr">{{item.value}}</span>
                        </div>
                        <ul class="pic_list" ng-if="!post.videoUrl">
                            <li ng-repeat="item in post.imgList">
                                <div class="inner">
                                    <div class="pic" style="background-image:url({{item}}?x-oss-process=image/resize,m_fill,h_{{screenW}},w_{{screenW}});" ng-click="picViewer(post.imgList,$index)">
                                        <!-- <img ng-src="{{item}}?x-oss-process=image/resize,m_fill,h_{{screenW}},w_{{screenW}}" alt="" /> -->
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="pic_list" ng-if="post.videoUrl">
                        	<!--<div style="max-width: 100%;">
                        	<div style="max-width: 100%; position: absolute; display: block;">323</div>-->
                        	<div style="position: relative;">                        		
                        		<div onclick="document.getElementById('gogovd').play()" style="position: absolute; height: 100%; width: 100%; background-image:url({{post.imgList[0]}}?x-oss-process=image/resize,m_fill,h_{{screenW}},w_{{screenW}}); background-size: cover;"></div>
                        		<div onclick="document.getElementById('gogovd').play()" style="position: absolute; left: calc(50% - 2.5rem); top: calc(50% - 2.5rem); width: 5rem; height: 5rem; background-image: url(img/icon-video.png); background-size: cover;"></div>
                        		<video id="gogovd" style="max-width: 100%; visibility:hidden;" ng-src="{{videoUrl(post.videoUrl)}}"></video>
                        	</div>
                        	<!--</div>-->
                        </ul>
                    </div>
                    <div class="other">
                        <p class="l">
                            {{post.userReadNumbers || "0"}}人阅读
                        </p>
                        <p class="r">
                            <button type="button" tap ng-click="postComment()" class="ic_comment">
                                <i class="icon"></i>
                                <span>{{post.commentNumbers || "0"}}</span>
                            </button>

                            <button type="button" class="ic_like active" ng-show="post.like">
                                <i class="icon"></i>
                                <span>{{post.likeNumbers || "0"}}</span>
                            </button>
                            <button type="button" tap ng-click="iLike(post)" class="ic_like" ng-show="!post.like">
                                <i class="icon"></i>
                                <span>{{post.likeNumbers || "0"}}</span>
                            </button>
                        </p>
                    </div>
                    <div class="reward">
                        <button ng-show="post.isMe == 0" type="button" tap ng-click="reward()">赏</button>
                        <p class="tip">点赞是美意，打赏是鼓励！</p>
                        <p class="number">{{rewardList.length}}人打赏</p>
                        <ul class="reward_list" ng-show="rewardList.length > 5">
                            <li ng-repeat="item in rewardList">
                                <img ng-src="{{item.headIconUrl}}?x-oss-process=image/resize,m_fill,h_80,w_80" alt="" />
                            </li>
                        </ul>
                        <ul class="reward_list2" ng-show="!!rewardList.length && rewardList.length < 6">
                            <li ng-repeat="item in rewardList">
                                <img ng-src="{{item.headIconUrl}}?x-oss-process=image/resize,m_fill,h_80,w_80" alt="" />
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="sec_2">
                    <div class="like" ng-show="!!post.likeUserList.length">
                        <div class="l">
                            <span>点赞</span>
                        </div>
                        <div class="r">
                            <span ng-click="homepage(item.uid)" ng-repeat="item in post.likeUserList">{{item.nickName}}</span>
                        </div>
                    </div>
                    <ul class="comment_list">
                        <li class="item" ng-repeat="item in commentList">
                            <div class="pic" ng-click="homepage(item.uid)" >
                                <img ng-src="{{item.uHeadImg}}?x-oss-process=image/resize,m_fill,h_80,w_80" alt="" />
                            </div>
                            <div class="txt">
                                <h3 class="name">
                                    <span>{{item.uName}}</span>
                                    <!-- <span class="lv">lv2</span> -->
                                </h3>
                                <p class="time">{{item.createDate | date:"yyyy-MM-dd hh:mm:ss"}}</p>
                                <p class="con" tap ng-click="replyComment(item)">{{item.content}}</p>
                                <ul class="reply" ng-show="!!item.sumComment.length">
                                    <li ng-repeat="i in item.sumComment" ng-click="replyReply(item,i,$index)">
                                        <span class="reply_name">{{i.uName}}</span>
                                        <span class="reply_con" ng-show="i.pUname">回复</span>
                                        <span class="reply_name" ng-show="i.pUname">{{i.pUname}}：</span>
                                        <span class="reply_con">{{i.content}}</span>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <div class="comment_no" ng-show="!commentList.length">
                        暂无评论
                    </div>
                    <!-- <div class="comment_more">
                        <button type="button" name="button">加载更多</button>
                    </div> -->
                </div>
            </div>
            <div class="edit_comment" ng-show="edit">
                <div class="t">
                    <button class="cancel" type="button" tap ng-click="cancelComment()">取消</button>
                    <h2 class="tit">写评论</h2>
                    <button class="send" type="button" tap="sendComment()">发送</button>
                </div>
                <div class="b">
                    <textarea get-focus="edit" class="edit" ng-model="commentContent" placeholder="{{holder?'回复 '+holder : '请输入...'}}"></textarea>
                </div>
            </div>
        </div>
        <button type="button" tap ng-click="postComment()" ng-show="!edit && post && !delSuccInfo" class="commentBtn"></button>
    </body>
     <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script type="text/javascript" src="./js/angular.min.js"></script>
    <script type="text/javascript" src="./js/core.js"></script>
		<script type="text/javascript" src="./js/sha1.js"></script>
        <script type="text/javascript" src="./js/postdetail.circle.js"></script>
</html>
