<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="format-detection" content="telephone=no" />
		<title>2台</title>
		<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<link rel="stylesheet" type="text/css" href="css/share.css" />
		<link rel="stylesheet" type="text/css" href="css/o_plugin.css"/>
	</head>

	<body id="shareVideo">
		<!--<div class="header">
			<div class="navbtn back">
				<a href="javascript:void(0);">
					<span></span>
				</a>
			</div>
			<div class="navtit">分享</div>
			<div class="navbtn r">
				<span>换一个</span>
			</div>
		</div>-->
		<div id="popupcode">
			<div class="content">
				<div class="opra">
					<span class="close"></span>
				</div>
				<div class="codepic">
					<img src="" alt=""/>
				</div>
				<div class="txt">扫描二维码关注</div>
			</div>
		</div>
  
		<div id="push_ad2"></div>
		<script type="text/html" id="push_ad2_temp">
			<a class="temp" href="{{url}}">
				<img src="{{imgUrl}}" alt="" />
			</a>
		</script>

		<div id="ad"></div>
		<script type="text/html" id="ad_temp">
			<div class="video">
				<video width="{{$videoW()}}" height="{{$videoH()}}" controls autobuffer poster="{{templateData[0].imageUrl}}?x-oss-process=image/resize,m_fill,h_{{$videoH()}},w_{{$videoW()}}">
					<source src="{{templateData[0].videoUrl}}" type='video/mp4'></source>
				</video>
			</div>
			<div class="content">
				<div class="row-01">
					<div class="tit" id="tit">
						{{title}}
					</div>
				</div>
				<!--<div class="divide"></div>-->
				<div class="row-02">
					<div class="head_pic" style="background-image: url({{logo}});"></div>
					<div class="addr">{{sellerName}}</div>
					<div class="time">{{$timeFormart(createDate,"y-m-d hh:mm")}}</div>
				</div>
				<!--<div class="divide"></div>-->
				<div class="row-03">
					<p class="t">
						{{#templateData[0].content}}
					</p>
					<div class="b">
						阅读 {{readNumber}}
					</div>
				</div>
			</div>
		</script>
		
		
		<div id="total" class="total hide">
			<div class="tit">
				<span>总共</span>
				<span class="digit">0</span>
				<span>个赞，</span>
				<span class="digit">0</span>
				<span>条评论</span>
			</div>
		</div>
		
		
		<div id="praise"></div>
		<script type="text/html" id="praise_temp">
			<div class="content_3">
				<div class="headPic_list">
					{{each data}}
						<div class="item" style="background-image: url({{$value.userInfo.headIconUrl}});"></div>
	               	{{/each}}
				</div>
				<div class="divide-t"></div>
			</div>
		</script>
		
		
		<div id="comment"></div>
		<div class="placeholder-h"></div>
		<!--<div id="push_ad3">
			<div class="tit">
				<div class="line"></div>
				<div class="txt">广告</div>
				<div class="line"></div>
			</div>	
			<div class="con">
				<img src="img/ad-02.jpg" alt=""/>
			</div>
		</div>-->
		<script type="text/html" id="comment_temp1">
			<div class="noComment">
				<div class="tit_2">所有评论</div>
				<div class="pic"></div>
				<div class="txt">暂无评论</div>
				<button type="button" class="btn" onclick="goToComment();">抢沙发</button>
			</div>
		</script>
		<script type="text/html" id="comment_temp2">
			<div class="comment_con">
				<div class="tit">所有评论</div>
				<div class="divide"></div>
				<ul class="comment_list">
					
				</ul>
				<div class="more hide" onclick="moreComment();">
					查看更多
				</div>
			</div>
		</script>
		<script type="text/html" id="commentList_temp">
			<li class="item">
				<div class="l" style="background-image: url({{uHeadImg}});"></div>
				<div class="r">
					<div class="t">
						<span>{{uName}}</span>
						<span>{{$timeFormart(createDate,"y-m-d hh:mm")}}</span>
					</div>
					<div class="b">{{content}}</div>
				</div>
			</li>
			<li class="divide"></li>
		</script>
		
		
		<div id="push_ad3" class="abs-hide">
			<div class="tit">
				<div class="line"></div>
				<div class="txt">广告</div>
				<div class="line"></div>
			</div>	
			<div class="con"></div>
		</div>
		<script type="text/html" id="push_ad3_temp">
			<a href="{{url}}">
				<img src="{{imgUrl}}" alt=""/>
			</a>
		</script>
		<script type="text/html" id="push_ad3_temp2">
			<div class="follow">
				<div class="logo" style="background-image: url({{imgUrl}});"></div>
				<div class="txt">
					<p class="t">{{title}}</p>
					<p class="b">{{introduce}}</p>
				</div>
				<div class="btn" tap="tcFollow('{{barcode}}')">关 注</div>
			</div>
		</script>

		<!--<div id="download">
			<div class="close"></div>
			<div class="logo"></div>
			<div class="txt">
				<p class="t">有 读</p>
				<p class="b">发现身边的品质生活</p>
			</div>
			<div class="download"></div>
		</div>-->
		
		<div id="push_ad1" class="abs-hide"></div>
		<script type="text/html" id="push_ad1_temp">
			<div class="contain">
			<div class="logo">
				<a href="{{url}}" class="inner" style="background-image: url({{imgUrl}});">
					<!--<div class="inner" style="background-image: url({{imgUrl}});">
						<img src="{{imgUrl}}" alt=""/>
					</div>-->
				</a>
			</div>
			<div class="txt">
				<p class="t">{{title}}</p>
				<p class="b">{{introduce}}</p>
			</div>
			<div class="btngroup">
				{{if download}}
					<a href="{{url}}"><button>下 载</button></a>
				{{/if}}
				{{if mess}}
					<a href="sms:{{tel}}"><button>短信咨询</button></a>
				{{/if}}
				{{if tel}}
					<a href="tel:{{tel}}"><button>电话咨询</button></a>
				{{/if}}
				{{if follow}}
					<a href="javascript:;"><button tap="tcFollow('{{barcode}}')">关 注</button></a>
				{{/if}}
			</div>
		</div>
		</script>
		<script type="text/html" id="push_ad1_temp2">
			<a class="temp2" href="{{url}}">
				<img src="{{imgUrl}}" alt=""/>
			</a>
		</script>
		<script type="text/html" id="push_ad1_temp3">
			<div class="contain2">
			<div class="logo2">
				<div class="inner"></div>
			</div>
			<div class="txt2">
				2台 - 让分享改变世界！
			</div>
			<div class="btngroup2">
				<!-- <a href="download_2.html"><button>下 载</button></a> -->
				<a href="javascript:void(0);">
					<button tap="reg()">下 载</button>
				</a>
				<!--//feeType 1阅读，2接单 。阅读从后台读取,接单写死-->
				<!--{{if download && feeType == 1}}
					<button><a href="{{url}}">下 载</a></button>
				{{/if}}
				{{if download && feeType == 2}}
					<button><a href="download_2.html">下 载</a></button>
				{{/if}}
				{{if mess}}
					<button><a href="sms:{{tel}}">短信咨询</a></button>
				{{/if}}
				{{if tel}}
					<button><a href="tel:{{tel}}">电话咨询</a></button>
				{{/if}}
				{{if follow}}
					<button tap="tcFollow('{{barcode}}')">关 注</button>
				{{/if}}-->
			</div>
		</div>
		</script>
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/hammer.min.js"></script>
		<script type="text/javascript" src="js/public.js?999999999999999"></script>
		<script type="text/javascript" src="js/artTemplate.js" ></script>
		<script type="text/javascript" src="js/o_plugin.js"></script>
		<script type="text/javascript" src="js/core1.js"></script>
		<script type="text/javascript" src="js/sha1.js"></script>
		<script type="text/javascript" src="js/device.min.js"></script>
		<script type="text/javascript">
		
		var platform = device.android()?1:device.ios()?2:3; //1 安卓 ，2ios，3其他	
		
		//http://127.0.0.1:8020/youle/share_noGoods_video.html?id=666&busId=39
		function tcFollow(str){
			$("#popupcode").popupCode(str).open();
		}
		var eventString;
		if(window.orientation){
			eventString = "onorientationchange";
		}else{
			eventString = "resize";
		}
		window.addEventListener(eventString,function(){
			setTimeout(resizeVideo,150);
		},false);
		
		function resizeVideo(){
			console.log(document.querySelector("video"));
			var video = document.querySelector("video");
			video.setAttribute("width",window.innerWidth);
			video.setAttribute("height",window.innerWidth/1.4945);
		}
		
		var pageIndex = 1;
		var id = getUrlParam("id");
		var busId = getUrlParam("busId");
		var token = getUrlParam("token");
		$("#download .close").hammer().bind("tap",function(){
			$("#download").remove();
		});
		
		function reg(){
			$.ajax({
				type:"get",
				contentType:"application/json",
				url:"https://api.2tai.com/v1/invite/code/info?id="+id,
				dataType:"json",
				beforeSend: function(xhr, setting) {
					
				},
				success:function(data,status,xhr){
					console.log(data);
					// {
					// 	"data": 0
					// }
					window.location.href = "http://tpl.2tai.net/webreg-2.html?comeinCode="+data.data;
					
				},
				error:function(data,states,c){
					console.error("请求错误");
				}
			});
		}

		template.helper('$timeFormart', function (timeStamp,format){
			var data = new Date(timeStamp);
			format = format.replace(/y/,(data.getFullYear()).toString());
			var m = data.getMonth() + 1 < 10 ? "0"+(data.getMonth()+1) : data.getMonth() + 1;
			var d = data.getDate() < 10 ? "0"+data.getDate() : data.getDate();
			var hh = data.getHours() < 10 ? "0"+data.getHours() : data.getHours();
			var mm = data.getMinutes() < 10 ? "0"+data.getMinutes() : data.getMinutes();
			format = format.replace(/m/,m);
			format = format.replace(/d/,d);
			format = format.replace(/hh/,hh);
			format = format.replace(/mm/,mm);
	        return format;
	    });
	    
	    template.helper('$videoW',function(){
	    	return window.innerWidth;
	    });
	    
	    template.helper('$videoH',function(){
	    	return parseInt(window.innerWidth/1.4945);
	    });
		
		getAdDetal(id,token,function(err,res){
			if(err){
				toast(err);
			}else{
				//渲染页面
				var html = template('ad_temp', res);
				document.getElementById('ad').innerHTML = html;
				//自定义分享
				shareAd(res);
				//广告模板
				renderAd(res);
			}
		});

		var dataForWeixin = {
			signurl: location.href,
			nonceStr: "x" + new Date().getTime(),
			timestamp: new Date().getTime(),
			imgUrl: "",
			lineLink: shareHost + "/share_info_video.html?id="+id+"&busId="+id+"&token="+token,
			descContent: '',
			shareTitle: '',
			appid: appid,
			cbtrigger: function(res) {
				dataForWeixin.nonceStr = "x" + new Date().getTime();
			},
			cbsuccess: function(res) {
				;
			},
			cbcancel: function(res) {
				;
			},
			cbfail: function(res) {
				;
			},
			cbcomplete: function(res) {
				;
			}
		};
		
		function shareAd(data){
			dataForWeixin.imgUrl = data.shareImg;
			dataForWeixin.descContent = data.introduction;
			dataForWeixin.shareTitle = data.title;
			
			getTicket(function(res) {
				//生成签名
				var signature = "jsapi_ticket=" + res.ticket + "&noncestr=" + dataForWeixin.nonceStr + "&timestamp=" + dataForWeixin.timestamp + "&url=" + dataForWeixin.signurl;
				console.log("signature");
				console.log(signature);
				signature = CryptoJS.SHA1(signature).toString();
				console.log(signature);
				//配置jssdk
				wx.config({
					debug: false,
					appId: dataForWeixin.appid,
					timestamp: dataForWeixin.timestamp,
					nonceStr: dataForWeixin.nonceStr,
					signature: signature,
					jsApiList: ['onMenuShareAppMessage','onMenuShareTimeline','onMenuShareQQ']
				});
				//接口调用错误处理
				wx.error(function(res) {
//					alert(res.errMsg);
				});
				wx.ready(function() {
					//分享给好友
					wx.onMenuShareAppMessage({
						title: dataForWeixin.shareTitle,
						desc: dataForWeixin.descContent,
						link: dataForWeixin.lineLink,
						imgUrl: dataForWeixin.imgUrl,
						trigger: function(res) {
							dataForWeixin.cbtrigger(res);
						},
						success: function(res) {
							dataForWeixin.cbsuccess(res);
						},
						cancel: function(res) {
							dataForWeixin.cbcancel(res);
						},
						fail: function(res) {
							dataForWeixin.cbfail(res);
						}
					});
					//分享到朋友圈
					wx.onMenuShareTimeline({
						title: dataForWeixin.shareTitle,
						link: dataForWeixin.lineLink,
						imgUrl: dataForWeixin.imgUrl,
						trigger: function(res) {
							dataForWeixin.cbtrigger(res);
						},
						success: function(res) {
							dataForWeixin.cbsuccess(res);
						},
						cancel: function(res) {
							dataForWeixin.cbcancel(res);
						},
						fail: function(res) {
							dataForWeixin.cbfail(res);
						}
					});
					//分享到qq
					wx.onMenuShareQQ({
						title: dataForWeixin.shareTitle,
						desc: dataForWeixin.descContent,
						link: dataForWeixin.lineLink,
						imgUrl: dataForWeixin.imgUrl,
						trigger: function(res) {
							dataForWeixin.cbtrigger(res);
						},
						complete: function(res) {
							dataForWeixin.cbcomplete(res);
						},
						success: function(res) {
							dataForWeixin.cbsuccess(res);
						},
						cancel: function(res) {
							dataForWeixin.cbcancel(res);
						},
						fail: function(res) {
							dataForWeixin.cbfail(res);
						}
					});
				});
			});
		}
		
		function getTicket(callback) {
			//https://api.2tai.com/wx/token
			//https://api.2tai.com/v1/wx/token
			$.ajax({
				type: "get",
				contentType: "application/json",
				url: IFaddr + "/v1/wx/token",
				dataType: "json",
				success: function(data, status, xhr) {
					console.log("获取ticket");
					console.log(data);
					if (!data.errMessage) {
						callback(data.data);
					}
				},
				error: function(data, states, c) {
					console.log(data)
				}
			});
		}
		
		function renderAd(data){
			var adTemp = data.shareSetList;
			console.log("renderAd------------------------------");
			console.log(adTemp);
			if(!adTemp){
				//后台没有设置广告位
				var push_ad1_temp3 = template("push_ad1_temp3",{});
				$("#push_ad1").html(push_ad1_temp3);
				$("#push_ad1").removeClass("abs-hide");
				return;
			}
			if(adTemp.length == 2){
				//双栏广告
				if(adTemp[0].position == 1){ //数组第一个元素在顶部、第二个元素在底部
					//渲染顶部
					var push_ad2_temp = template("push_ad2_temp",adTemp[0]);
					$("#push_ad2").html(push_ad2_temp);

					//渲染底部
					//增加 feeType 属性，渲染底部时根据这个属性，确定是否获取url值作为下载按钮的链接地址
					//feeType 1阅读，2接单 。接单写死，阅读从后台读取
					
					if(adTemp[1].type == 1){
//						adTemp[1].feeType = data.feeType;
						if(adTemp[1].floatType == 3){
							//只有下载按钮
							adTemp[1].download = true;
							adTemp[1].mess = false;
							adTemp[1].tel = false;
						}
						console.log(adTemp[1]);
						var push_ad1_temp = template("push_ad1_temp",adTemp[1]);
						$("#push_ad1").html(push_ad1_temp);
						$("#push_ad1").removeClass("abs-hide");
						
					}else if(adTemp[1].type == 2){
						if(adTemp[1].floatType == 1){
							adTemp[1].download = false;
							adTemp[1].mess = false;
							adTemp[1].tel = true;
						}else if(adTemp[1].floatType == 2){
							adTemp[1].download = false;
							adTemp[1].mess = true;
							adTemp[1].tel = false;
						}else{
							adTemp[1].download = false;
							adTemp[1].mess = true;
							adTemp[1].tel = true;
						}
						console.log(adTemp[1]);
						var push_ad1_temp = template("push_ad1_temp",adTemp[1]);
						$("#push_ad1").html(push_ad1_temp);
						$("#push_ad1").removeClass("abs-hide");
						
					}else if(adTemp[1].type == 3){
						console.log(adTemp[1]);
						var push_ad1_temp2 = template("push_ad1_temp2",adTemp[1]);
						$("#push_ad1").html(push_ad1_temp2);
						$("#push_ad1").removeClass("abs-hide");
					}
					return;
				}
				//数组第一个元素在底部、第二个元素在顶部
					//渲染顶部
				var push_ad2_temp = template("push_ad2_temp",adTemp[1]);
				$("#push_ad2").html(push_ad2_temp);
					//渲染底部
				if(adTemp[0].type == 1){
					//增加 feeType 属性，渲染底部时根据这个属性，确定是否获取url值作为下载按钮的链接地址
//					adTemp[0].feeType = data.feeType;
					if(adTemp[0].floatType == 3){
						//只有下载按钮
						adTemp[0].download = true;
						adTemp[0].mess = false;
						adTemp[0].tel = false;
					}
					console.log(adTemp[0]);
					var push_ad1_temp = template("push_ad1_temp",adTemp[0]);
					$("#push_ad1").html(push_ad1_temp);
					$("#push_ad1").removeClass("abs-hide");
					
				}else if(adTemp[0].type == 2){
					if(adTemp[0].floatType == 1){
						adTemp[0].download = false;
						adTemp[0].mess = false;
						adTemp[0].tel = true;
					}else if(adTemp[0].floatType == 2){
						adTemp[0].download = false;
						adTemp[0].mess = true;
						adTemp[0].tel = false;
					}else{
						adTemp[0].download = false;
						adTemp[0].mess = true;
						adTemp[0].tel = true;
					}
					console.log(adTemp[0]);
					var push_ad1_temp = template("push_ad1_temp",adTemp[0]);
					$("#push_ad1").html(push_ad1_temp);
					$("#push_ad1").removeClass("abs-hide");
					
				}else if(adTemp[0].type == 6){
					console.log(adTemp[0]);
					var push_ad1_temp2 = template("push_ad1_temp2",adTemp[0]);
					$("#push_ad1").html(push_ad1_temp2);
					$("#push_ad1").removeClass("abs-hide");
				}
				
				
			}else{ //底部浮动、底部图片、顶部通栏
				
				if(adTemp[0].position == 1){
					//顶部
					var push_ad2_temp = template("push_ad2_temp",adTemp[0]);
					$("#push_ad2").html(push_ad2_temp);
					return;
				}
				//底部
				switch (adTemp[0].type){
					case 1://浮动图文
						if(adTemp[0].floatType == 3){
							//增加 feeType 属性，渲染底部时根据这个属性，确定是否获取url值作为下载按钮的链接地址
//							adTemp[0].feeType = data.feeType;
							//有下载按钮
							adTemp[0].download = true;
							adTemp[0].mess = false;
							adTemp[0].tel = false;
						}
						console.log("adTemp[0]");
						console.log(adTemp[0]);
						var push_ad1_temp = template("push_ad1_temp",adTemp[0]);
						$("#push_ad1").html(push_ad1_temp);
						$("#push_ad1").removeClass("abs-hide");
						break;
					case 2://浮动名片
						if(adTemp[0].floatType == 1){
							adTemp[0].download = false;
							adTemp[0].mess = false;
							adTemp[0].tel = true;
						}else if(adTemp[0].floatType == 2){
							adTemp[0].download = false;
							adTemp[0].mess = true;
							adTemp[0].tel = false;
						}else{
							adTemp[0].download = false;
							adTemp[0].mess = true;
							adTemp[0].tel = true;
						}
						console.log(adTemp[0]);
						var push_ad1_temp = template("push_ad1_temp",adTemp[0]);
						$("#push_ad1").html(push_ad1_temp);
						$("#push_ad1").removeClass("abs-hide");
						break;
					case 3://浮动通栏图
						console.log(adTemp[0]);
						var push_ad1_temp2 = template("push_ad1_temp2",adTemp[0]);
						$("#push_ad1").html(push_ad1_temp2);
						$("#push_ad1").removeClass("abs-hide");
						break;
					case 4://浮动关注广告
						adTemp[0].follow = true;
						console.log(adTemp[0]);
//						$("#popup .codepic img").attr("src",adTemp[0].barcode);
						var push_ad1_temp = template("push_ad1_temp",adTemp[0]);
						$("#push_ad1").html(push_ad1_temp);
						$("#push_ad1").removeClass("abs-hide");
						break;
					case 5://固定关注广告
						$("#push_ad3").removeClass("abs-hide");
//						$("#popup .codepic img").attr("src",adTemp[0].barcode);
						var push_ad3_temp2 = template("push_ad3_temp2",adTemp[0]);
						$("#push_ad3 .con").html(push_ad3_temp2);
						break;
					case 6://固定通栏图
						$("#push_ad3").removeClass("abs-hide");
						var push_ad3_temp = template("push_ad3_temp",adTemp[0]);
						$("#push_ad3 .con").html(push_ad3_temp);
						break;
					default:;
						break;
				}
			}
		}
		
		getPraise(busId,function(err,res){
			if(err){
				toast(err);
			}else{
				//渲染页面
				res.data.splice(18);
				var praise = template('praise_temp', res);
				document.getElementById('praise').innerHTML = praise;
				$("#total").removeClass("hide");
				$("#total span").eq(1).html(res.rowCount);
			}
		});
		
		moreComment();
		
		function goToComment(){
			$.ajax({
				type:"get",
				contentType:"application/json",
				url:"https://api.2tai.com/v1/invite/code/info?id="+id,
				dataType:"json",
				beforeSend: function(xhr, setting) {
					
				},
				success:function(data,status,xhr){
					console.log(data);
					// {
					// 	"data": 0
					// }
					window.location.href = "http://tpl.2tai.net/webreg-2.html?comeinCode="+data.data;
					
				},
				error:function(data,states,c){
					console.error("请求错误");
				}
			});
		}

		function moreComment(){
			getComment(busId,pageIndex,function(err,res){
				if(err){
					toast(err);
				}else{
					pageIndex ++;
					//渲染页面
					if(res.data.length == 0){
						//没有评论
						var cmt = template('comment_temp1',{});
						document.getElementById('comment').innerHTML = cmt;
					}else{
						console.log($("#comment").has(".comment_con"));
						if($("#comment").has(".comment_con").length == 0){
							var cmt = template('comment_temp2', res);
							document.getElementById('comment').innerHTML = cmt;
						}
						for (var i=0; i<res.data.length; i++) {
							var commentItem = template('commentList_temp', res.data[i]);
							$("#comment .comment_list").append(commentItem);
						}
//						$("#comment .comment_list .divide").last().remove();
						if(res.pageIndex == res.pageCount){ //没有下一页
							$("#comment .more").addClass("hide");
						}else{
							$("#comment .more").removeClass("hide");
						}
					}
					$("#total").removeClass("hide");
					$("#total span").eq(3).html(res.rowCount);
				}
			});
		}
		
		
		function getComment(id,idx,callback){
			//http://192.168.0.189:8080/YOULE/v1/common/comment?busType=1&busId=2
			console.log(IFaddr+"/v1/common/comment?busType=30&busId="+id+"&pageIndex="+idx+"&pageSize=20")
			$.ajax({
				type:"get",
				contentType:"application/json",
				url:IFaddr+"/v1/common/comment?busType=1&busId="+id+"&pageIndex="+idx+"&pageSize=20",
				dataType:"json",
				beforeSend: function(xhr, setting){
					
				},
				success:function(data,status,xhr){
					if(data.errMessage){
						console.info("获取评论失败");
						callback(data.errMessage);
					}else{
						console.info("获取评论成功");
						console.info(data);
						callback("",data);
					}
				},
				error:function(data,states,c){
					console.error("获取评论失败");
					callback("获取评论失败");
				}
			});
		}
		
		
		function getPraise(id,callback){
			//http://192.168.0.189:8080/YOULE/v1/common/follow?busType=1&busId=2&isFollow=0
			$.ajax({
				type:"get",
				contentType:"application/json",
				url:IFaddr+"/v1/common/follow?busType=30&busId="+id+"&isFollow=0",
				dataType:"json",
				beforeSend: function(xhr, setting) {
					
				},
				success:function(data,status,xhr){
					if(data.errMessage){
						console.info("获取点赞失败");
						callback(data.errMessage);
					}else{
						console.info("获取点赞成功");
						console.info(data);
						callback("",data);
					}
				},
				error:function(data,states,c){
					console.error("获取点赞失败");
					callback("获取点赞失败");
				}
			});
		}

		function getAdDetal(id,token,callback){
			//http://192.168.0.189:8080/YOULE/v1/ad/visitor/2684
			$.ajax({
				type:"get",
				contentType:"application/json",
				url:IFaddr+"/v1/info/visitor/"+id+"?platform="+platform+"&token="+token,
				dataType:"json",
				beforeSend: function(xhr, setting) {
					
				},
				success:function(data,status,xhr){
					if(data.errMessage){
						console.info("获取广告模板失败");
						callback(data.errMessage);
					}else{
						console.info("获取广告模板成功");
						console.info(data.data);
						callback("",data.data);
					}
				},
				error:function(data,states,c){
					console.error("获取广告模板失败");
					callback("获取广告模板失败");
				}
			});
		}

		</script>
	</body>
</html>