<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	    <meta name="format-detection" content="telephone=no,email=no,adress=no"/>
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/travel_home.css"/>
		<script src="./js/adapt1.js"></script>
		<script src="./js/angular.min.js"></script>
		
	</head>
	<body style="background-color: #EBEBEB;">
		<div style="background-color: #EBEBEB;" ng-app="app" ng-controller="appct" class="warpper" ng-cloak>
			
				
			<div ng-repeat="x in gd">
			<!--模板1-->
			<div ng-if="x.list.length<2?true:false">
			<div class="onetime">{{x.pushTime | date:"yyyy/MM/dd HH:mm"}}</div>
			<div ng-click="goInfo(x.list[0])" class="te1" style="margin: 0 auto 1rem auto;">
				<div class="te1_title">{{x.list[0].title}}</div>
				<div class="te1_img">
				<img align="center" ng-src="{{x.list[0].previewUrl}}" src="img/banner.jpg" alt="" />
				</div>
				<div class="te1_des oneline">{{x.list[0].introduce}}</div>
				<div class="oneborder"></div>
				<div class="te1_more">查看资讯详情 <img class="te1_more_img" src="img/icon-details.png" alt="" /></div>
			</div>
			</div>
			
			<!--模板2-->
			<div ng-if="x.list.length>1?true:false">
			<div class="onetime">{{x.pushTime | date:"yyyy/MM/dd HH:mm"}}</div>
			<div ng-click="goInfo(x.list[0])" style="margin: 0 auto 1rem auto;" class="te2">
				<div class="te1_img">
					<img align="center" ng-src="{{x.list[0].previewUrl}}" src="img/banner.jpg" alt="" />
					
					<div class="te2_top">
						<div class="te2_toptitle">{{x.list[0].title}}</div>
					</div>
				</div>
				
				<div ng-click="goInfo(bk)" class="te2_sub" ng-repeat="(key,bk) in x.list" ng-if="key>0">
					<!--{{key}}-->
					<div class="te2_sub_titlec">
					<div class="te2_sub_title">{{bk.title}}</div>
					</div>
					<img class="te2_sub_img" ng-src="{{bk.previewUrl}}" src="img/goods_view.png" alt="" />
					<div class="oneborder" style="width: 100%; float: right; margin: 1rem 0 0 0;"></div>
				</div>
			</div>
			</div>
			
			
			</div>
			
			<div class="ldmore">{{ldtitle}}</div>
		
			
		</div>
	</body>
	<script type="text/javascript" src="js/travel_home.js"></script>
</html>
