<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
        <meta name="format-detection" content="telephone=no,email=no,adress=no"/>
        <title>2台投票</title>
        <style>
            [ng-cloak]{
                display: none !important;
            }
        </style>
        <!-- build:css /css/app.css -->
        <link rel="stylesheet" href="/css/base.css"/>
        <link rel="stylesheet" href="/css/vote.share.css">
        <link rel="stylesheet" href="/css/app.confirm.css">
        <link rel="stylesheet" href="/css/app.open-in-browser.css">
        <!-- endbuild -->
    </head>
    <body>
        <div ng-controller="detail" class="warpper" ng-cloak>
            <div class="poster">
                <img ng-src="{{detail.coverPhoto}}" alt="">
            </div>
            <div class="padd-cont" ng-show="detail">
                <h1 class="title">{{detail.title}}</h1>
                <div class="tip">
                    <p class="p1" ng-if="detail.voteStatus==1">
                        <i class="icon"></i>
                        <span class="time">投票于 {{detail.voteStart | date:"yyyy/MM/dd HH:mm"}} 开始</span>
                        <span class="status">（未开始投票）</span>
                    </p>
                    <p class="p1" ng-if="detail.voteStatus==2">
                        <i class="icon"></i>
                        <span class="time">投票于 {{detail.voteEnd | date:"yyyy/MM/dd HH:mm"}} 结束</span>
                        <span class="status">（投票中）</span>
                    </p>
                    <p class="p1" ng-if="detail.voteStatus==3">
                        <i class="icon"></i>
                        <span class="time">投票于 {{detail.voteEnd | date:"yyyy/MM/dd HH:mm"}} 结束</span>
                    </p>
                    <div class="over" ng-if="detail.voteStatus==3">
                        <img src="./img/vote-over.png" alt="">
                    </div>
                    <p class="p2" ng-if="detail.voteStatus==3">
                        <i class="icon"></i>
                        <span class="status">投票已过截至时间</span>
                    </p>
                </div>
                <div class="table-cont">
                    <table>
                        <tr>
                            <th>已报名</th>
                            <th>投票人次</th>
                            <th>访问量</th>
                        </tr>
                        <tr>
                            <td>{{detail.playerNumber | number}}</td>
                            <td>
                                <span ng-if="detail.voteStatus==2 || detail.voteStatus==3">{{detail.voteNumber | number}}</span>
                                <span ng-if="detail.voteStatus==1">0</span>
                            </td>
                            <td>{{detail.pageViewNumber | number}}</td>
                        </tr>
                    </table>
                </div>
                <div class="theme">
                    <h3>活动主题</h3>
                    <p ng-bind="detail.actProfile"></p>
                </div>
                <div class="reward">
                    <div class="reward-pic">
                        <img src="./img/vote-reward.png" alt="">
                    </div>
                    <ul class="reward-list">
                        <li ng-repeat="item in detail.reward">
                            <h3>{{item.grade}} {{item.number}}人</h3>
                            <p>奖品：{{item.goods}}</p>
                        </li>
                    </ul>
                </div>
                <div class="contact">
                    <p>
                        <span>客服微信：</span>
                        <span>{{detail.serviceWeixin || '无'}}</span>
                    </p>
                    <p>
                        <span>客服电话：</span>
                        <span>{{detail.servicePhone || '无'}}</span>
                    </p>
                </div>
                <div class="look-detail-btn">
                    <a class="link" ng-click="goVoteDetail(detail.id)">
                        <i class="icon"></i>
                        <span>点击查看活动说明及奖励</span>
                    </a>
                </div>
                <div class="sign-up-btn">
                    <a class="link" ng-click="goSignup(detail.id)">
                        <span>我要报名</span>
                    </a>
                </div>
                <div class="search-btn">
                    <div class="ipt">
                        <i class="icon"></i>
                        <input type="text" ng-model="keywords" placeholder="请输入选手的姓名或编号">
                    </div>
                    <div class="btn">
                        <button type="button" ng-click="search()">搜索</button>
                    </div>
                </div>
                <ul class="player-list">
                    <li ng-repeat="item in list">
                        <div class="inner">
                            <a class="pic" ng-click="goPlayerDetail(item.id)">
                                <img ng-src="{{item.photos[0]}}?x-oss-process=image/resize,m_fill,h_{{h}},w_{{w}}" alt="">
                            </a>
                            <p class="p1">{{item.name}}  编号:{{item.seriaNumber}}</p>
                            <p class="p2">
                                <span>票数</span>
                                <strong>{{item.votes}}</strong>
                                <span>名次</span>
                                <strong>{{item.ranking}}</strong>
                            </p>
                            <!-- 0 明天再来；1 可以投票；2 已经投票 2.1判断倒计时字符串 2.2 红色明日再来 -->
                            <button ng-if="detail.voteStatus == 2 && item.canVote==2 && !!item.countdown" class="countdown" type="button">{{item.countdown}}</button>
                            <button ng-if="detail.voteStatus == 2 && item.canVote==2 && !item.countdown" class="tomorrow" type="button">明日再来</button>
                            <button ng-if="detail.voteStatus == 2 && item.canVote==1" class="canvote" type="button" ng-click="confirm()">投一票</button>
                            <button ng-if="detail.voteStatus == 2 && item.canVote==0" class="disabled" type="button">明天再来</button>
                            <button ng-if="detail.voteStatus == 1" class="disabled" type="button">投票未开始</button>
                            <button ng-if="detail.voteStatus == 3" class="disabled" type="button">投票已结束</button>
                        </div>
                    </li>
                </ul>
                <p class="load-more" ng-show="loading==2" ng-click="getList()">
                    加载更多
                </p>
                <p class="load-all" ng-show="loading==3">
                    已加载完所有
                </p>
                <p class="load-all" ng-show="loading==5">
                    暂无数据
                </p>
                <p class="list-loading" ng-show="loading==1 || loading==4">
                    加载中...
                </p>
            </div>
        </div>
        <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
        <!-- build:js /js/app.js -->
        <script type="text/javascript" src="./js/angular.js"></script>
        <script type="text/javascript" src="./js/app.confirm.js"></script>
        <script type="text/javascript" src="./js/app.open-in-browser.js"></script>
        <script type="text/javascript" src="./js/core.js"></script>
		<script type="text/javascript" src="./js/sha1.js"></script>
        <script type="text/javascript" src="./js/vote.share.js"></script>
        <!-- endbuild -->
        <script type="text/javascript">
            document.body.addEventListener('touchstart', function(){});
        </script>
    </body>
</html>
