<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
        <meta name="format-detection" content="telephone=no,email=no,adress=no"/>
        <title>2台投票</title>
        <style>
            [ng-cloak]{
                display: none !important;
            }
        </style>
        <!-- build:css /css/app.css -->
        <link rel="stylesheet" href="/css/base.css"/>
        <link rel="stylesheet" href="/css/vote.share.css">
        <link rel="stylesheet" href="/css/app.confirm.css">
        <link rel="stylesheet" href="/css/app.back.css">
        <!-- endbuild -->
    </head>
    <body>
        <div id="signup" ng-controller="signup" ng-cloak>
            <app-back></app-back>
            <div class="poster">
                <img ng-src="{{detail.coverPhoto}}" alt="">
            </div>
            <div class="time" ng-show="detail">
                <p>
                    <i class="icon"></i>
                    <span>报名时间 {{detail.signupStart | date:"yyyy/MM/dd"}} - {{detail.signupEnd | date:"yyyy/MM/dd"}}</span>
                </p>
                <!-- yyyy/MM/dd HH:mm -->
                <p>
                    <i class="icon"></i>
                    <span>投票时间 {{detail.voteStart | date:"yyyy/MM/dd"}} - {{detail.voteEnd | date:"yyyy/MM/dd"}}</span>
                </p>
            </div>
            <div class="padd-cont" ng-show="detail">
                <div class="form-group">
                    <p class="form-label">*请上传参赛图片</p>
                    <ul class="pic-view-list">
                        <li>
                            <div class="inner">
                                <div class="content">
                                    <button ng-show="pic0" ng-click="delPic(0)" class="delpic" type="button"><i class="icon"></i></button>
                                    <div ng-show="pic0" class="pic-view"></div>
                                    <div class="addpic" ng-hide="pic0">
                                        <button type="button" name="button">
                                            <input clean-file-value type="file" name="file" clean-file-value accept="image/*" onchange="angular.element(this).scope().fileChange(this,0)" />
                                        </button>
                                        <p>上传照片</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner">
                                <div class="content">
                                    <button ng-show="pic1" ng-click="delPic(1)" class="delpic" type="button"><i class="icon"></i></button>
                                    <div ng-show="pic1" class="pic-view"></div>
                                    <div class="addpic" ng-hide="pic1">
                                        <button type="button" name="button">
                                            <input clean-file-value type="file" name="file" clean-file-value accept="image/*" onchange="angular.element(this).scope().fileChange(this,1)" />
                                        </button>
                                        <p>上传照片</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner">
                                <div class="content">
                                    <button ng-show="pic2" ng-click="delPic(2)" class="delpic" type="button"><i class="icon"></i></button>
                                    <div ng-show="pic2" class="pic-view"></div>
                                    <div class="addpic" ng-hide="pic2">
                                        <button type="button" name="button">
                                            <input clean-file-value type="file" name="file" clean-file-value accept="image/*" onchange="angular.element(this).scope().fileChange(this,2)" />
                                        </button>
                                        <p>上传照片</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <p class="form-tip">请上传三张，默认第一张为封面图片</p>
                </div>
                <div class="form-group">
                    <p class="form-label">*姓名：</p>
                    <div class="form-ipt">
                        <input type="text" ng-class="{'has-error':nameInvalid}" ng-model="postData.name" ng-change="checkName()" placeholder="请输入参赛人姓名">
                    </div>
                </div>
                <div class="form-group">
                    <p class="form-label">*联系电话：</p>
                    <div class="form-ipt">
                        <input type="tel" ng-class="{'has-error':phoneNoInvalid}" ng-model="postData.phoneNo" ng-change="checkPhoneNo()" placeholder="请输入联系电话">
                    </div>
                </div>
                <div class="form-group">
                    <p class="form-label">参赛宣言：</p>
                    <div class="form-ipt">
                        <textarea name="name" rows="4" ng-model="postData.declaration" placeholder="请输入想说的话"></textarea>
                    </div>
                </div>
                <div class="form-group" ng-show="detail.status==1">
                    <a href="javascript:void(0);" class="form-btn disabled" type="button"><span>报名未开始</span></a>
                </div>
                <div class="form-group" ng-show="detail.status==2">
                    <a href="javascript:void(0);" ng-click="signUp()" class="form-btn" ng-class="{'isloading':loading==1}" type="button">
                        <i class="icon icon-loading"></i>
                        <span>点击报名</span>
                    </a>
                </div>
                <div class="form-group" ng-show="detail.status==3">
                    <a href="javascript:void(0);" class="form-btn disabled" type="button"><span>报名已经结束</span></a>
                </div>
                <div class="form-group" ng-show="detail.status==4">
                    <a href="javascript:void(0);" class="form-btn succeed" type="button"><span>已经报名该活动</span></a>
                </div>
            </div>
        </div>
        <!-- build:js /js/app.js -->
        <script type="text/javascript" src="./js/angular.js"></script>
        <script type="text/javascript" src="./js/app.confirm.js"></script>
        <script type="text/javascript" src="./js/app.back.js"></script>
        <script type="text/javascript" src="./js/vote.signup.js"></script>
        <!-- endbuild -->
        <script type="text/javascript">
            document.body.addEventListener('touchstart', function(){});
        </script>
    </body>
</html>
